{% load static %}
<html>
<head>
  
  <title>Mascotas Saludables</title>
  <link rel="icon" href="{% static 'ubicacion.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilo11.css' %}">
</head>
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Mascotas Saludables</a>
                </div>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Inicio</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Información dueños
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'lista_personas' %}">Listado dueños</a></li>
                      <li><a href="{% url 'persona_new' %}">Añadir dueños</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Información animales
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'lista_animales' %}">Listado animales</a></li>
                      <li><a href="{% url 'animal_new' %}">Añadir animal</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultas
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'lista_consultas' %}">Historial de consultas</a></li>
                        <li><a href="{% url 'consulta_new' %}">Nueva consulta</a></li>
                      </ul>
                    </li>
                  
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                      </li>
                </ul>
                {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
              </div>
            </nav>
        
        <br><br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="content">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>

        <div class="custom-container">
          <div class="row">
            <div class="col-md-6">
              <h2>Acerca de Nosotros</h2>
              <p>Somos Mascotas Saludables, dedicados a proporcionar cuidado y atención a las mascotas. ¡Tu compañero peludo está en buenas manos con nosotros!</p>
            </div>
            <div class="col-md-6">
              <h2>Contacto</h2>
              <p>Teléfono: +123456789</p>
              <p>Correo electrónico: info@mascotassaludables.com</p>
              <!-- Agrega aquí tus enlaces a redes sociales -->
              <p>Síguenos en:
                <a href="#">Facebook</a>,
                <a href="#">Twitter</a>,
                <a href="#">Instagram</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
